p
  | You recently requested an invitation code for Fuzzy.ai. Good news! You
  | are already a user. Just follow this link to log into the server:
  
p
  - var url = homeProtocol+"://"+homeServer+"/login";
  a(href=url)= url

p 
  | If you have any problems, please reply to this email so we can help you out.
  
p
  | If you didn't request an invitation code, you can safely ignore this
  | message.

p
  | Sincerely,
  br
  | Your friends at fuzzy.ai
