p
  | Thanks for signing up for fuzzy.ai. To confirm your registration, click the
  | link below.

p
  - var url = homeProtocol+"://"+homeServer+"/confirm/"+confirmation.code;
  a(href=url)= url

p
  | If you have problems confirming your registration, please respond to this
  | message so we can help out.

p
  | Sincerely,
  br
  | Your friends at fuzzy.ai
