p A server error happened.
  
dl
  dt Timestamp
  dd= timestamp
  dt App
  dd= app
  dt Host
  dd= hostname
  dt Message
  dd= error.message
  dt Status Code
  dd= error.statusCode
each value, key in error
  if key != "message" && key != "statusCode"
    dt= key
    dd= value

if typeof(extra) != "undefined"
  p Additional information is available
  dl
  each value, key in extra
    dt= key
    dd= value

p 
  | Thanks for making our developer experience great by knowing about errors
  | when they happen.

p
  | Sincerely,
  br
  | The servers
  
  
