p
  | We received payment for your fuzzy.ai subscription. Thanks for your business!
p
  | Questions? Contact us by replying to this email. 
p 
  | Plan: #{plan}
p 
  | Amount: #{total}
  br
  | Date: #{date}
  br
  | Transaction ID: #{charge}
p 
  | Sincerely,
  br
  | Your friends at fuzzy.ai
