p
  | To reset your password, click the link below:
  
p
  - var url = homeProtocol+"://"+homeServer+"/reset-confirm/"+confirmation.code;
  a(href=url)= url

p 
  | If you have any problems, please reply to this email so we can help you out.
  
p
  | If you didn't request a password reset, you can safely ignore this message.

p
  | Sincerely,
  br
  | Your friends at fuzzy.ai
